# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
database.sqlite
node_modules
ncp-debug.log
npm-debug.log
.vscode
.DS_Store
.idea/
workSpace

# vscode plugin
lukehoban # github.com/
golang    # github.com/golang/lint/golint
tooles    # golang.org/x/tools
cweill    # github.com/cweill/gotests
newhook   # github.com/newhook/go-symbols

# goreturns
sourcegraph.com